REDMINE_DB_POSTGRES=rc1d-0c10tr98dbvb61se.mdb.yandexcloud.net
REDMINE_DB_PORT=6432
REDMINE_DB_USERNAME=app-user
REDMINE_DB_PASSWORD={{ redmine_db_password }}
REDMINE_DB_DATABASE=app-db
SECRET_KEY_BASE={{ secret_key_base }}